[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest.git
[submodule "submodules/PDFHummus"]
	path = submodules/PDFHummus
	url = https://github.com/jgmbenoit/PDFHummus.git
